html, body {
  height: 100%;
}

.park {
  background-image: url("../images/bck.jpg");
  background-size: 70% 90%;
  height: 100%;
  width: 100%;
}
.menu {
  width: 250px;
  height: 350px;
  background-image: url("../images/menu_bck.jpg");
  background-size: 300px 300px;
  margin-top: 50px;
  background-repeat: repeat-y;
  float: left;
  -webkit-box-shadow: 15px 18px 16px -12px rgba(74,72,74,0.56);
  -moz-box-shadow: 15px 18px 16px -12px rgba(74,72,74,0.56);
  box-shadow: 15px 18px 16px -12px rgba(74,72,74,0.56);
}

#root {
  height: 100%;
}
.menu-container {
  height: 100%
}

.paddock {
  background-image: url("../images/paddo.png");
  background-size: 160px 170px;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  margin-right: 30px;
}

.list-paddocks{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.paddock-details {
  width: 540px;
  height: 320px;
  background-color: #636f6e;
  position: absolute;
  z-index: 500;
  border-radius: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding-bottom: 10px;
}
.dino-list {
  margin-top: 30px;
  overflow-y: scroll;
  width: 530px;
  height: 260px;
}
.close {
  /* float: right;
  position: relative;
  width: 23px;
	height: 23px;
	border: 2px solid #eef5df;
	background-color: #ff5248;
  content: 'X';
	border-top-right-radius: 8px; */

 float: right;
  box-sizing:border-box;
  width:20px;
  height:20px;
  border-width:3px;
  border-style: solid;
  border-color:#aeaeae;
  border-radius:100%;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
  background-color:#aeaeae;
  /* box-shadow:0px 0px 5px 2px rgba(0,0,0,0.5); */
  transition: all 0.3s ease;
}


.dino-image {
  height: 60px;
  width: 60px;
}

.dino-type {
  height: 20px;
  width: 20px;
}

.low-energy {
  background-color: red;
  width: 100%;
  height: 18px;
  border-radius: 3px;
}

.high-energy {
  background-color: #3ef13e;
  height: 18px;
  border-radius: 3px;
  content: "🍖";
}

.form-paddock {
  padding-top: 60px;

}
